doctype html
html
  head
    title Vitrine Artisan
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js')
  body
    .sidebar
      .sidebar-item
        a(href='/') Home
      .sidebar-item
        a(href='/furniture') Meubles
      .sidebar-item
        a(href='/admin') Admin

      //- .sidebar-item
      //-   a(href='/materials') Materials
    .content
      block content