* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.8rem;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  background-image: url("https://cdn.discordapp.com/attachments/1054763922177151016/1261302394218610708/sixcha_Light_blue_background_with_light_purple_gradient_light_s_329fddd7-90b2-4632-a9d7-3e1f7d6929b7.png?ex=669276e4&is=66912564&hm=74296e6ae0434a28b556f3800bbcf4fb3099783bcdc43982cb0e68d799a90afd&");
  background-size: 100%;
  color: #343a40;
  margin: 0;
  padding: 0; }

.navbar {
  background-color: #007bff;
  padding: 1rem; }
  .navbar .navbar-brand {
    color: #f8f9fa;
    font-size: 1.5rem;
    text-transform: uppercase; }
    .navbar .navbar-brand:hover {
      color: #f8f9fa; }

.sidebar {
  background-color: #343a40;
  color: #f8f9fa;
  min-height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; }
  .sidebar .sidebar-item {
    margin: 1rem 0; }
    .sidebar .sidebar-item a {
      color: #f8f9fa;
      text-decoration: none; }
      .sidebar .sidebar-item a:hover {
        color: #007bff; }

.content {
  margin-left: 250px;
  padding: 2rem; }

.card {
  background-color: #f8f9fa;
  border: 1px solid #343a40;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1rem; }
  .card a {
    text-decoration: none;
    color: #007bff; }
    .card a:hover {
      color: #6c757d; }

.btn {
  border: none;
  border-radius: 3px;
  color: #f8f9fa;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none; }
  .btn.btn-primary {
    background-color: #007bff; }
    .btn.btn-primary:hover {
      background-color: #0062cc; }
  .btn.btn-secondary {
    background-color: #6c757d; }
    .btn.btn-secondary:hover {
      background-color: #545b62; }

.chart {
  height: 65rem;
  width: 65rem; }

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .flex * {
    margin: 0.5rem 0; }

.border {
  border-bottom: 1px solid #343a40; }
